@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.order-2 {
	order: 2;
}
.order-1 {
	order: 1;
}
